@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: 'Libre Baskerville', sans-serif;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

#logo {

    height: 5rem;
    width: 5rem;
}

header a {
    text-decoration: none;
    color: inherit;

}

header h1 {
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: large;
}

/* Nav toggle */
#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

/* Main Menu Styling */
#main-menu {
    font-size: larger;
    letter-spacing: 2px;
    list-style-type: none;
}

#main-menu>li {
    margin-bottom: 1.5em;
}

.active {
    border-bottom: 1px solid red;
}

/* Nav Styling */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    text-align: center;
}

/* Main */

/* main {
    margin-top: 100px;
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
} */
#main-contact {
    margin-top: 100px;
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    flex-direction: column;

}

#main-index {
    margin-top: 100px;
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

#main-gallery {
    margin-top: 100px;
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    flex-direction: column;
    padding: 2rem;

}

.main-index {
    /* background-image: url(../images/main-bg-image.webp); */
    background-repeat: no-repeat;
    background-size: 100rem;
}

/* Gallery page Style */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Form */
form h2 {
    text-align: center;
    padding-bottom: 40px;
}

.video-container {
    position: absolute;
    right: 0;
    z-index: -1;
    opacity: 0.8;
}

#contact {
    /* background-image: url("../images/qasioun-mount-.webp"); */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 10px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #000000;
    color: #fafafa;
}

#message {
    height: 75px;
}

/* Footer */
iframe {
    width: 100%;
    height: 200px;
    border: none;
}

footer {
    bottom: 0;
    background-color: #fff;
}

/* ul {
    list-style: none;
} */

/* .contacts li {
    align-items: center;
    align-content: center;
} */

#social-icons {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 25px 0;
}

/* Media query: large or landscape mobiles (576px and up) */
@media screen and (min-width: 576px) {

    /* gallery */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header */
    header h1 {
        position: relative;
        display: flex;
        text-align: center;
        right: 10rem;
        font-size: 2rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #main-menu {
        display: flex;
        margin-top: 1rem;
    }

    #main-menu>li {
        padding-left: 3rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        height: 10rem;
        width: 10rem;
    }

    /* main */
    #main-index {
        /* these styles is to push main content down so it's not hidden in big screens */
        margin-top: 197px;
    }

    #main-contact {
        /* these styles is to push main content down so it's not hidden in big screens */
        margin-top: 197px;
    }

    #main-gallery {
        /* these styles is to push main content down so it's not hidden in big screens */
        margin-top: 197px;
    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 100%;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #000000;
    }

    /* gallery */
    #photos {
        column-count: 3;
        column-gap: 0;
    }
}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #main-menu a:hover {
        border-bottom: 1px solid red;
    }

    /* gallery */
    #photos {
        column-count: 4;
        column-gap: 0;
    }
}